/* General Styles */

*{
  text-decoration: none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

/* Font hierarchy */
body p{
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

h1, h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #333;
}

h2{
  font-size: 36px;
}

h3 {
  color:#4b7b6a ; 
}

/* Navbar Styles */

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.nav-div  {
  background-color: #333;
  color: white;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items:baseline;
  justify-content: space-between;
  position: relative;
}

 .name{
  color: white;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  padding-left: 80px;
}

.name span{
  color: #4b7b6a;
}

.nav-list{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
  
.nav-list, ul, li {
  list-style-type: none;
  justify-content:space-evenly;
  align-items: center;
  margin: 4px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: inline-block;
 
} 

ul li a{
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
  margin-right: 30px;
  padding:18px;
}

li a:hover{
  color: #4b7b6a;
  text-decoration-line:underline;
  transition: 0.3s;
  
}

.nav-btn{
  background-color: #4b7b6a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 100px;
  margin-left: 130px;
  cursor: pointer;
  border: none;
}

.nav-btn:hover{
  background-color:#6ea391;
  color: white;
  transition: 0.9s;
}


/* Main Portfolio section */
main{
  height: 90%;
  margin: 0;
  padding: 0;
}

/* Portfolio Section */
.con{
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  margin-top: 0px;
  font-size: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: 2px solid #bdb8b8;
  color: #333;
}

p{
  margin-bottom: 4px;
  font-size: 1em;
  color: #666;
  line-height: 1.6;
  font-size: 36px;
}


/* About Section */

/* Service Section */
.services {
  padding: 50px 20px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 3, 0.2);
}

.services h2 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
  color: #4b7b6a;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.service {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(241, 238, 238, 0.1);
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #4b7b6a;
}

.service p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

/* Projects Section */
.projects{
  background-color: white;
  color:  #333;
  padding:50px 10px; 
  text-align: center;
  margin: 20px auto;
  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project {
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.projects h2{
  color: #4b7b6a;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.project h3{
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #4b7b6a;
}

.project p{
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}


/* Contact Section */
form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-bottom: 20px;
}

form input, form textarea{
  border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

form input, form textarea, form button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
}

.contact form button {
  background-color: #4b7b6a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #6ea391;
}

/* Footer Section */
footer {
  text-align: center;
  padding: 36px;
  background-color: #333;
  color: white;
  margin-bottom: 0;
  margin-top: 95%;
  /* position: relative; */
  height: 100%;
  display: flex;
}





